<!DOCTYPE html>
<html lang="en">
  <body>
    <pre>
    ____________________
    /                    \
    |     Your token     |
    |     is invalid!    |
    \____________________/
            !  !
            !  !
            L_ !
           / _)!
          / /__L
    _____/ (____)
           (____)
    _____  (____)
         \_(____)
            !  !
            !  !
            \__/

    In order to receive another
    verification email, attempt
    a login into your account!
    </pre>
    <a href="http://127.0.0.1/login">Login!</a>
  </body>
</html>
