<!doctype html>
<html lang="en">
<head>
    <style>
      .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
    <script src="{{ url_for('static', filename='web3.min.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>DEFL8</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/animate-css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>
<body style="background-color:white;" href="">
            <div class="container">
                <div class="row">
                          <body>
                            <h1>Defl8 terms of service</h1>
                            <br>
                            <p>Defl8 is a decentralized cryptocurrency with built-in deflationary mechanisms. This means, that whenever you send x amount of token(s) to an address, x*0.2 amount of tokens is burnt, meaning x*0.2 amount of tokens will not reach their destination and be taken out of circulation. On our website, we offer you an opportunity to claim free DEFL8 every 1 Week (7 times 24 hours to be exact.) There is no way to refund transaction-fees lost by incorrectly using our services.</p> <br> </br>
                            <p>Every action taken is at own risk and the user is asked to read about Ethereum/Binance network fees, before confirming transactions. In order to claim Tokens, you need to press the "Claim" button ( after connecting your Metamask Wallet properly ) and then confirm 2 Transactions. The first transaction is our service fee (0.00025 BNB fixed.) and the second one is the Smartcontract call. After confirming the second transaction, you will receive your 1000 DEFL8, provided you didn't claim for a period of 7 days, or longer. In order to see your received Tokens, add the Smartcontract address "0x3A0e2cD01941fE1286CDdE6fa4fb191456C1e003" to your Metamask wallet. defl8.me is designed for usage with your 1st Metamask account only ( account[0] ) any issues users experience, who try to claim with their 2nd or 3rd account, are not going to be resolved, as multi-claiming is against the intention of this project.
                            <h1>To learn how setup the MetaMask wallet <br><a href="https://www.youtube.com/watch?v=Af_lQ1zUnoM">CLICK HERE</a></h1><br>
                            <h1>To learn how to trade / swap your DEFL8 on Pancakeswap <br><a href="https://www.youtube.com/watch?v=iG0O6GLxwrk">CLICK HERE</a></h1><br>
                            <h1>To learn how to add Binance Chain to the Metamask wallet <br><a href="https://blog.accubits.com/how-to-add-binance-smart-chain-to-metamask/">CLICK HERE</a></h1>
                            </p>
                            <br></br>
                           <button class="button" id="submit" onclick="window.location.href='/'">Continue to Defl8</button>
                          </body>
                    </div>

                </div>
</body>
