<!DOCTYPE html>
<html lang="en">


{% extends "bootstrap/base.html" %}

{% block content %}
<head>
  <meta charset="utf-8" id="page-top">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>cryptOS</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/static/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="/static/css/new-age.min.css" rel="stylesheet">

</head>

<body id="introduction">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">cryptOSplatform</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#introduction">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://www.cryptosplatform.net/agb">Datenschutz</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <p class="mb-5">
            CryptOS platform ( CryOS ) ist eine seit März 2019 kontinuierlich entwickelte Cryptowährung welche nicht konzipiert ist herkömmliche Zahlungmethoden wie zum Beispiel den Euro oder den schweizer Franken im alltäglichen Gebrauch zu ersetzen.
            <br>
            Unser Ziel ist es stattdessen, mit Hilfe von einer öffentlich zugänglichen
            API möglichst einfachen und zuverlässigen
            Zugriff auf die "core – features" unserer Wallets und andere wichtige Komponenten zu offerieren. 
            <br>
            Unser Fokus liegt auf Community, Entwicklung und vor allem mobiler Technologie für Android & IOS Geräte.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="https://discord.gg/AQWWkYQ" class="btn btn-outline btn-xl 
            js-scroll-trigger">Join us on Discord</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="/static/img/demo-screen-1.jpg" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <h2 class="section-heading">Download</h2>
          <p>get the latest version of our client here</p>
          <div class="badges">
            <a class="badge-link" href="https://play.google.com/store/apps/details?id=com.cryptos.net"><img src="/static/img/google-play-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <div class="section-heading text-center">
        <br>
        <br>
        <br>
        <br>
        <h2>Features</h2>
        <p class="text-muted">
        <hr>
      </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-6">
                <div class="feature-item">
                  
                  <h3>Open Source</h3>
                  <p class="text-muted">CryOS cryptocurrency is open source</p>
                  <a href="" class="btn btn-outline btn-light
                  js-scroll-trigger" style="color:rgb(0, 85, 85)">SOON Github</a>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="feature-item">
                  
                  <h3>Specification</h3>
                  <p class="text-muted">
                  Coins can not be mined
                  <br>
                  There is no POS
                  <br>
                  Masternodes are also not involved
                  <br>
                  Total supply : 4.000.000.000 (4 Billion)
                </div>
              </div>

              <div class="col-lg-6">
                <div class="feature-item">
                  
                  <h3>Security</h3>
                  <p class="text-muted">The PC core wallet is a fork of "Ravencoin" project 
                  <br>
                  and running the X16s algorythm
                  <br> 
                  ( invented by "Pigeoncoin" ).
                  <br>
                  Sensitive user data is encrypted with SHA-256</p>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="feature-item">
                  
                  <h3>Concept</h3>
                  <p class="text-muted">
                  CryOS wants to establish as a brand by combining mobile development and cryptocurrency.
                  <br>
                  We want to publish an official game in the future.
                </div>
              </div>


              <div class="col-lg-6" id="features">
                <div class="feature-item">
                  <h3>Coinsale</h3>
                  <p class="text-muted">Our Coinsale is meant to fund future development
                  <br>
                  You can buy CryOS with Raven(Rvn) and Bitcoin(Btc) inside our mobile client
                  <br>
                  Presale prices : 1 Rvn = 250 CryOS
                  <br>
                  1 Btc = 5000000 CryOS
                  </p>
                  <br>
                  Coins available for the SALE : 250.000.000 (250 Million)
                </div>
              </div>

              <div class="col-lg-6">
                <div class="feature-item">
                  
                  <h3>Centralisation</h3>
                  <p class="text-muted">
                  On launch the CryOS team has control of the whole supply
                  <br>
                  Over time coins will find their way to our community
                  <br>
                  Users can setup nodes and use our core wallet to decentralize their holdings
                  <br>
                  Except for the presale funds (250 Million coins)
                  the whole supply is reserved for the community
                  <br>
                  It will be possible to earn coins by using our mobile wallet,
                  <br>
                  participating in contests and maybe at a later stage by using
                  third party services
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>


<footer>
   <div class="container" id="copyright">
     <p>&copy; cryptOSplatform 2019. All Rights Reserved.</p>
   </div>
 </footer>

{% endblock %}

{% block scripts %}

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/new-age.min.js"></script>

{% endblock %}

</body>

</html>
